<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="Console" name="c"
              layout="${longdate} ${uppercase:${level}} ${callsite}#${callsite-linenumber} - ${message}" />
      <target xsi:type="File" name="f" fileName ="C:/logs/Dapper.outsidesql.Test/logs/kokushi-${shortdate}.log"
              layout="${longdate} ${uppercase:${level}} ${callsite} line:${callsite-linenumber} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="c,f" />
    </rules>
  </nlog>
</configuration>